/*
Project: Marcelo Glacial Personal Website
Author: Marcelo Glacial
Starts: 18/09/2017
*/


/* Fonts ---- */
@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* General ----- */

body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  background-color: #fff;
}
html {
  width: 100%;
  height: 100%;
}

#Container {
  background: url(../img/background.png) no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

#Main {
  background: #EA4342;
  padding: 50px;
  width: 40%;
  /* Vertical Alignment */
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
#Main * {
  padding: 0;
  margin: 0;
  text-align: right;
}

/* Header ---- */
h1 {
  font-weight: bold;
  font-size: 120px;
  letter-spacing: -13px;
  line-height: 89px;
}
h2 {
  display: none;
}
ul {
  list-style: none;
}

/* Skills ---- */
section.skills {
  font-weight: lighter;
  font-size: 27px;
  letter-spacing: -2px;
  line-height: 22px;
}
#Main section.skills {
  padding: 15px 0;
}

/* Social ---- */
#Main .social ul {
  float: right;
}
#Main .social li a {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 0;
  margin-right: 10px;
}
li.linkedin a {
  background: url(../img/social-linkedin.png);
  background-size: contain;
}
li.behance a {
  background: url(../img/social-behance.png);
  background-size: contain;
}
li.github a {
  background: url(../img/social-github.png);
  background-size: contain;
}
li.medium a {
  background: url(../img/social-medium.png);
  background-size: contain;
}


/*
Responsive
=================
*/

/* Phones  ---- */
@media only screen and (max-width: 420px) {
  #Main * {
    float: none;
  }
  #Main {
    padding: 50px 20px;
    width: 75%;
  }
  h1 {
    font-size: 35px;
    letter-spacing: -2px;
    line-height: 20px;
  }
  section.skills {
    font-weight: lighter;
    font-size: 15px;
    letter-spacing: 0;
  }
  #Main .skills li {
    float: right;
    margin: 0 0 15px 5px;
  }
  #Main .social li a {
    width: 35px;
    height: 35px;
    margin: 0 5px 0 0;
  }
}


/* Extra large devices (large desktops, 1200px and up) ---- */
@media (min-width: 1400px) {
  #Main {
    width: 750px;
  }
}
